<h2>New Event</h2>

<%= error_messages_for :event %>

<% form_for(@event) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
    or
    <%= link_to 'Cancel', events_path %>
  </p>
<% end %>
